{% comment %}
  Renders cart notification

  Accepts:
  - color_scheme: {String} sets the color scheme of the notification (optional)
  - desktop_menu_type: {String} passes the desktop menu type which allows us to use the right css class (optional)

  Usage:
  {% render 'cart-notification' %}
{% endcomment %}

<cart-notification>
  <div class="cart-notification-wrapper fixed left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 z-10 w-full max-w-[471px]">
    <button
      type="button"
      class="cart-notification__close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-[34px] h-[34px] rounded-full bg-black leading-none flex justify-center items-center cursor-pointer"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      x
    </button>
    <div
      id="cart-notification"
      class="cart-notification focus-inset border border-[#5a5a5a] bg-white px-2.5 pt-5 pb-4"
      aria-modal="true"
      aria-label="{{ 'general.cart.item_added' | t }}"
      role="dialog"
      tabindex="-1"
    >
      <div class="cart-notification__header text-center uppercase leading-none mb-[32px]">
        <p class="text-[19px] tracking-widest font-normal">Added To</p>
        <h2 class="cart-notification__heading uppercase text-[42px] font-coutureBold leading-none tracking-widest font-bold">
          CART
        </h2>
        <div class="mt-10">
          <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Shopping-Bag-Logo text-[58px]"> </span>
        </div>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div>
        <p class="text-[11px] leading-none tracking-widest uppercase mb-5 italic font-bold">
          *FREE SHIPPING FOR ORDERS OVER 100 EUR
        </p>
      </div>
      <div class="flex flex-col items-center">
        <a
          href="{{ routes.cart_url }}"
          class="btn btn_outlined !text-[24px] mb-4 w-full max-w-[328px]"
        >
          Go To Cart
        </a>
        <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form" class="w-full max-w-[328px]">
          <button class="btn btn_primary w-full !text-[24px] !py-3" name="checkout">Proceed to order</button>
        </form>
      </div>
    </div>
  </div>
</cart-notification>
{% comment %}
  {% style %}
    .cart-notification {
      display: none;
    }
  {% endstyle %}
{% endcomment %}
