<button class="btn btn_primary btn_small flex text-center uppercase relative w-full">
  <span>save for later</span>
  <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_All-Products-Heart-not-Saved-v1 absolute top-1/2 -translate-y-1/2 right-5"></span>
</button>