<button class="w-full" type="button" aria-label="Save To My Favorites" title="Save To My Favorites">
  <span class="visually-hidden">Save to my favorites</span>
  {%- render 'icon-heart' -%}
</button>
