<button>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 15">
    <g id="Heart_Icon">
      <path id="Heart_icon_not_saved_v.2_00000024680941551121108930000016793980240366756009_" d="M13.572,1
        c1.23,0,2.015,0.68,2.456,1.251c0.828,1.071,1.177,2.703,0.848,3.967c-0.44,1.691-1.385,2.281-3.1,3.351
        c-0.238,0.148-0.486,0.303-0.747,0.47c-2.062,1.33-3.308,2.489-4.03,3.3c-0.723-0.812-1.969-1.971-4.033-3.302
        c-0.258-0.165-0.506-0.32-0.744-0.468c-1.715-1.07-2.659-1.66-3.1-3.351c-0.329-1.265,0.02-2.896,0.848-3.968
        C2.413,1.68,3.197,1,4.428,1c2.612,0,3.596,2.487,3.635,2.588L9,6.114l0.938-2.526C9.947,3.562,10.929,1,13.572,1 M13.572,0
        C10.203,0,9,3.24,9,3.24S7.797,0,4.428,0C1.068,0-0.528,3.84,0.156,6.47c0.612,2.35,2.084,3.01,4.272,4.41C8.088,13.24,9,15,9,15
        s0.912-1.76,4.572-4.12c2.188-1.4,3.66-2.06,4.272-4.41C18.528,3.84,16.932,0,13.572,0L13.572,0z" />
    </g>
  </svg>

</button>