<div class="removed-wishlist__modal fixed top-1/2 left-[50%] lg:left-[63%] -translate-x-1/2 -translate-y-1/2 z-10 w-[96%] md:w-full max-w-[352px]">
  <div
    class="border border-[#5a5a5a] bg-white px-4 py-5 removed-wishlist__modal-wrapper w-full"
    aria-modal="true"
    role="dialog"
    tabindex="-1"
  >
    <div class="removed-wishlist__modal-heading text-center">
      <h2 class="text-[24px] uppercase tracking-xwidest">REMOVED FROM FAVORITES</h2>
    </div>
  </div>
</div>
