<div class="wishlist__modal hidden fixed top-0 left-0 w-full h-[100dvh] z-[9999999]">
  <div class="relative w-full h-full flex pt-[60px] pb-4 overflow-y-auto">
    <div class="my-auto relative left-[50%] lg:left-[63%] -translate-x-1/2 z-10 max-w-[300px] md:max-w-[352px] w-full">
      <button
        type="button"
        class="wishlist__modal-close modal__close-button font-bold font-coutureBold absolute bottom-full mb-4 right-0 text-[18px] text-white w-7 md:w-[34px] h-7 md:h-[34px] bg-black rounded-full leading-none flex justify-center items-center cursor-pointer"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        x
      </button>
      <div
        class="border border-[#5a5a5a] bg-white px-[24px] pt-8 wishlist__modal-wrapper w-full"
        aria-modal="true"
        role="dialog"
        tabindex="-1"
      >
        <div class="wishlist__modal-heading text-center mb-7 md:mb-[40px]">
          <h2 class="font-coutureBold text-lg md:text-[22px] uppercase">SAVED TO MY FAVORITES</h2>
        </div>
        <div class="wishlist__modal-body mb-7 md:mb-[40px]">
          <p class="text-[11px] md:text-[13px] uppercase tracking-[0.1em] font-black leading-snug">
            YOU CAN FIND ALL YOUR SAVED PRODUCTS IN MY FAVORITES SECTION BY NAVIGATING TO YOUR PROFILE. SAVE ALL THE ART
            THAT INTERESTS YOU FOR LATER SO YOU CAN FIND IT EASILY EVERYTIME.
          </p>
        </div>
        <div class="wishlist__modal-footer pb-[25px] text-center">
          <a href="/pages/my-favorites" class="btn btn_outlined !text-xl md:!text-2xl w-full mb-1.5 !py-1.5">
            GO TO MY FAVORITES
          </a>
          <a href="#" class="underline dont-show-wishlist-modal text-[13px] font-black"> I GOT IT, DON’T SHOW AGAIN </a>
        </div>
      </div>
    </div>
  </div>
</div>
