<div class="artis-page custom-page max-lg:px-4">
  <div
    id="bar"
    class="ds_element dissapearing custom-page__heading artist-page__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">{{ page.title | escape }}</h1>
  </div>
  <div class="artist-page__body custom-page__body max-lg:pt-20">
    {%- if section.settings.first_image != blank or section.settings.second_image != blank -%}
      <div class="custom-page__images{% if section.settings.second_image != blank %} grid md:grid-cols-2{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {%- if section.settings.first_image != blank -%}
          {%- liquid
            assign image_height = section.settings.first_image.width | divided_by: section.settings.first_image.aspect_ratio
            assign full_width = '50vw'
            assign widths = '768, 1090, 1240, 1440, 1560'
            assign image_class = 'w-full h-full object-cover'
          -%}
          <div class="custom-page__images-first aspect-square{% unless section.settings.second_image %} max-w-[650px]{% endunless %}">
            {{
              section.settings.first_image
              | image_url: width: 1560
              | image_tag:
                width: section.settings.first_image.width,
                height: image_height,
                class: image_class,
                sizes: full_width,
                widths: widths
            }}
          </div>
        {%- endif -%}
        {%- if section.settings.second_image != blank -%}
          {%- liquid
            assign image_height = section.settings.second_image.width | divided_by: section.settings.second_image.aspect_ratio
            assign full_width = '50vw'
            assign widths = '768, 1090, 1240, 1440, 1560'
            assign image_class = 'w-full h-full object-cover'
          -%}
          <div class="custom-page__images-second aspect-square">
            {{
              section.settings.second_image
              | image_url: width: 1560
              | image_tag:
                width: section.settings.second_image.width,
                height: image_height,
                class: image_class,
                sizes: full_width,
                widths: widths
            }}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="custom-page__content{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
    <div class="artist-page__contacts">
      <div class="artist-page__contacts-contact"></div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (e) {
      const contactOpen = document.querySelector('.contact-us'),
        contactModal = document.querySelector('.contact-us__modal'),
        contactClose = document.querySelector('.contact-us__modal-close');
      contactOpen.addEventListener('click', () => {
        contactModal.classList.remove('hidden');
      });
      contactClose.addEventListener('click', () => {
        contactModal.classList.add('hidden');
      });
      const target = e.target;
      const customSelect = target.closest('.custom-select');
      const allCustomSelects = document.querySelectorAll('.custom-select');

      // Clicking on the trigger toggles the current dropdown and closes others
      if (customSelect && target.closest('.select-trigger')) {
        // Close all dropdowns first
        allCustomSelects.forEach((select) => {
          if (select !== customSelect) {
            select.classList.remove('open');
          }
        });
        // Toggle the clicked custom select
        customSelect.classList.toggle('open');
      } else if (customSelect && target.tagName === 'INPUT' && target.type === 'radio') {
        // Remove selected class from all options
        customSelect.querySelectorAll('li').forEach((li) => {
          li.classList.remove('selected');
        });

        // Add selected class to parent li of the checked radio
        target.closest('li').classList.add('selected');

        // Update the trigger text and close the dropdown
        const selectedText = target.nextElementSibling.textContent;
        customSelect.querySelector('.selected-text').textContent = selectedText;
        customSelect.classList.remove('open');
      } else {
        // Clicking outside any custom select should close all
        allCustomSelects.forEach((select) => {
          select.classList.remove('open');
        });
      }
    });
  });
</script>

{% schema %}
{
  "name": "Artist Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second Image"
    }
  ],
  "presets": [
    {
      "name": "Artist Page"
    }
  ]
}
{% endschema %}
