<div class="max-md:px-1.5">
  <div>
    {%- unless section.settings.title == blank -%}
      <div
        class="left-0 right-0 ds_element z-10 dissapearing home-page__carousel-btn-top pt-2 pb-[7px] text-center fixed max-lg:duration-300 max-lg:ease-in-out bg-gray-10 lg:hidden"
      >
        <h2
          id="SectionHeading-{{ section.id }}"
          class="text-center font-coutureBold text-[19px] leading-none"
        >
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endunless -%}

    <div class="max-lg:pt-[34px]">
      <ul
        class="grid gap-y-4 md:gap-y-[27px] md:pb-[27px] collection-list"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- for block in section.blocks -%}
          <li
            {{ block.shopify_attributes }}
          >
            {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
            {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
            {% render 'card-collection',
              card_collection: block.settings.collection,
              media_aspect_ratio: section.settings.image_ratio,
              custom_title: block.settings.collection_title,
              custom_image: block.settings.collection_image,
              placeholder_image: placeholder_image
            %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection_image.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.collection_image.info"
        },
        {
          "type": "inline_richtext",
          "id": "collection_title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection_title.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.collection_title.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
