<div></div>

{% schema %}
{
  "name": "t:sections.cooming-soon.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "t:sections.cooming-soon.settings.banner.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.cooming-soon.settings.heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "subgheading",
      "label": "t:sections.cooming-soon.settings.subheading.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.cooming-soon.presets.name"
    }
  ]
}
{% endschema %}
