<div
  id="bar header-total"
  data-id="{{ section.id }}"
  class="cart__heading fixed top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
>
  <div class="flex justify-between lg:border-b lg:border-b-black lg:pb-[3px] w-full">
    <h1 class=" font-coutureBold text-[29px] tracking-wide leading-none whitespace-nowrap mr-5 max-md:hidden">
      {{ 'sections.cart.title' | t }}
    </h1>
    <div class="totals max-md:w-full">
      <h2
        class="totals__total text-[25px] js-contents font-bold leading-none uppercase whitespace-nowrap max-md:flex max-md:justify-between max-md:items-center max-md:w-full"
      >
        <span class="max-md:mr-2">Total </span>
        <span class="totals__total-value"> {{ cart.total_price | money_with_currency }}</span>
      </h2>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const bar = document.getElementById('bar');
    let lastScrollTop = 0;

    function handleScroll() {
      let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop) {
        bar.style.transform = 'translateY(-100%)';
      } else {
        bar.style.transform = 'translateY(0)';
      }

      lastScrollTop = scrollTop;
    }

    function checkWidthAndScroll() {
      if (window.innerWidth <= 767) {
        window.addEventListener('scroll', handleScroll);
      } else {
        window.removeEventListener('scroll', handleScroll);
        bar.style.transform = 'translateY(0)';
      }
    }

    window.addEventListener('resize', checkWidthAndScroll);
    checkWidthAndScroll(); // Initial check
  });
</script>

{% schema %}
{
  "name": "Header Total",
  "class": "cart__header-wrapper",
  "settings": []
}
{% endschema %}
