<div class="border-r-[27px] border-r-transparent border-b-[27px] border-b-transparent"></div>

{% schema %}
{
  "name": "Home Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "cover_type",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "video",
      "label": "Cover Type"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Home Page"
    }
  ]
}
{% endschema %}
