<div class="home-page__banner h-full lg:!hidden"></div>

{% schema %}
{
  "name": "Home Page Carousel",
  "tag": "section",
  "class": "section home-page__carousel",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Home Page Carousel"
    }
  ]
}
{% endschema %}
