<div class="border-r-[27px] border-r-transparent border-b-[27px] border-b-transparent home-page__banner h-full">
  <div class="absolute top-0 left-0 bottom-0 right-0 w-full h-full">
    {{
      section.settings.video
      | video_tag:
        image_size: '1100x',
        autoplay: true,
        loop: true,
        controls: false,
        class: 'w-full h-full object-cover',
        muted: true
    }}
  </div>
  <div class="relative z-[1] h-full home-page__banner-content">
    <div class="flex flex-col items-center justify-center text-center"></div>
  </div>
</div>

{% schema %}
{
  "name": "Home Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "cover_type",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "video",
      "label": "Cover Type"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Home Page"
    }
  ]
}
{% endschema %}
