<div class="home-page__banner h-full">
  <div class="absolute top-0 left-0 bottom-0 right-0 w-full h-full">
    {{
      section.settings.video
      | video_tag:
        image_size: '1100x',
        autoplay: true,
        loop: true,
        controls: false,
        class: 'w-full h-full object-cover',
        muted: true
    }}
  </div>
  <div class="relative z-[1] h-full home-page__banner-content border-b-[27px] border-b-transparent">
    <div class="flex flex-col items-center justify-center text-center pt-[10%]">
      {%- if section.settings.heading -%}
        <div class="mb-16">
          <h2 class="text-[54px] text-white tracking-widest">{{ section.settings.heading }}</h2>
        </div>
      {%- endif -%}
      {%- if section.settings.sub_heading -%}
        <div class="mb-16">
          <h2 class="text-[74px] text-white tracking-widest">{{ section.settings.sub_heading }}</h2>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Page",
  "tag": "section",
  "class": "section home-page__section",
  "settings": [
    {
      "type": "select",
      "id": "cover_type",
      "options": [
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "video",
      "label": "Cover Type"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "20 OFF",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "sub_heading",
      "default": "SITE LAUNCH DISCOUNTS",
      "label": "Sub Heading"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Home Page"
    }
  ]
}
{% endschema %}
