<div class="collection-hero">
  <h1 class="collection-hero__title text-3xl font-coutureBold text-center">
    <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
    {%- if section.settings.heading != blank -%}
      {{ section.settings.heading }}
    {%- else -%}
      {{- collection.title | escape -}}
    {%- endif -%}
  </h1>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.main-collection-banner.settings.heading.label"
    }
  ]
}
{% endschema %}
