<div class="default-page custom-page max-md:px-0 max-lg:px-4">
  <div
    id="bar"
    class="ds_element dissapearing custom-page__heading default-page__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">{{ page.title | escape }}</h1>
  </div>
  <div class="default-page__body custom-page__body max-lg:pt-24 pb-10 lg:pb-[92px]">
    <div class="custom-page__content max-md:px-2{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
    {%- if section.settings.privacy_menu.links -%}
      <div class="custom-page__footer max-md:px-2 max-lg:mt-10 lg:fixed lg:pr-5 lg:h-[90px] lg:right-0 lg:bottom-0 lg:bg-white lg:flex lg:items-center">
        <ul class="flex items-center flex-wrap">
          {%- for link in section.settings.privacy_menu.links -%}
            {%- unless link.active -%}
              <li class="mr-[30px]">
                <a
                  href="{{ link.url }}"
                  class="underline font-helveticaThinCond font-bold tracking-wider uppercase text-sm whitespace-nowrap"
                >
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "privacy_menu",
      "label": "Privacy Menu"
    }
  ]
}
{% endschema %}
