{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer reset-password max-lg:px-4">
  <h1
    id="bar"
    class="font-coutureBold text-xl ds_element md:text-[30px] uppercase text-center max-lg:w-full max-lg:left-0 max-lg:py-2 fixed top-[54px]  bg-gray-10 lg:bg-white max-lg:duration-300 max-lg:ease-in-out"
  >
    Password Reset
  </h1>
  <div class="customer-login__form-wrapper max-w-[522px] mx-auto">
    <div class="customer-login__form-wrapper-heading text-center mb-10">
      <p class="uppercase text-xs md:text-sm font-bold">WRITE A NEW PASSWORD, AT LEAST 8 CHARACTERS IN LENGTH</p>
    </div>
    {%- form 'reset_customer_password', return_to: routes.account_addresses_url -%}
      <div class="field flex flex-col mb-3.5">
        <div class="pl-4 mb-1 flex justify-between">
          <label for="password" class="text-[11px] md:text-[13px] font-axis"> New password </label>
          <div class="form-errors text-right">
            {%- if form.errors -%}
              {{ form.errors | default_errors }}
            {%- endif -%}
          </div>
        </div>
        <div class="relative password-input">
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            class="input-field"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
          >
          <span
            class="absolute cursor-pointer text-[24px] md:text-[28px] toggle-password top-1/2 -translate-y-1/2 right-4 icon-FULL-ICON-SET-WEBSITE-FINAL_Eye-Icon"
          ></span>
        </div>
      </div>
      <div class="field flex flex-col">
        <div class="pl-4 mb-1">
          <label for="password_confirmation" class="text-[11px] md:text-[13px] font-axis"> Confirm password </label>
        </div>
        <div class="relative password-input">
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            class="input-field"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
          >
          <span
            class="absolute cursor-pointer text-[24px] md:text-[28px] toggle-password top-1/2 -translate-y-1/2 right-4 icon-FULL-ICON-SET-WEBSITE-FINAL_Eye-Icon"
          ></span>
        </div>
      </div>
      <div class="flex justify-center mt-7">
        <button class="btn btn_primary !font-coutureBold !text-[22px] !tracking-xwidest !leading-none !px-6">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>
<script>
  // Function to toggle password visibility
  function togglePasswordVisibility(event) {
    const toggleButton = event.currentTarget;
    const passwordInput = toggleButton.closest('.password-input').querySelector('.input-field');
    toggleButton.classList.toggle('visible');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }

  // Ensure the DOM is fully loaded before attaching event listeners
  document.addEventListener('DOMContentLoaded', () => {
    const togglePasswordButtons = document.querySelectorAll('.toggle-password');

    // Loop through each toggle button and attach a click event listener
    togglePasswordButtons.forEach((button) => {
      button.addEventListener('click', togglePasswordVisibility);
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
