<div class="my-favorites">
  <div
    id="bar"
    class="ds_element dissapearing my-favorites__heading max-lg:pt-2 max-lg:pb-4 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">My Favorites</h1>
  </div>
</div>
{% schema %}
{
  "name": "My Favorites",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
