<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<div class="my-favorites">
  <div
    id="bar"
    class="ds_element dissapearing my-favorites__heading max-lg:py-3 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">My Favorites</h1>
  </div>
  <div class="my-favorites__body">
    <ul class="wishlist__list wishlist__container">
      <li class="wishlist__item flex">
        <div class="wishlist__item-img aspect-square">
          <img
            class="w-full h-full object-cover"
            src="https://cdn.shopify.com/s/files/1/0690/2303/9708/files/ANATOMY-STUDY-3-PAPER-UNFRAMED-IMAGE.jpg?v=1717860091"
            width="656"
            height="640"
          >
        </div>
        <div class="wishlist__item-data flex-1">
          <div class="wishlist__item-data-title">
            <h2 class="text-[24px] md:text-[32px] font-semibold leading-none mb-3">Product Title</h2>
          </div>
          <div class="wishlist__item-data-vendor mb-14">
            <h3 class="leading-none text-[26px] font-helveticaThinCond italic tracking-wide font-normal">by Vendor</h3>
          </div>
          <div class="wishlist__item-data-variant mb-[90px]">
            <h4 class="text-[24px] tracking-xwidest mb-4 font-bold leading-none">Unframed</h4>
            <h4 class="text-[24px] tracking-xwidest uppercase font-bold leading-none">NO SIZE SELECTED</h4>
          </div>
          <div class="wishlist__item-data-buttons">
            <div class="md:max-w-[360px] mt-4">
              <a
                href="card_product_url"
                class="btn btn_primary btn_small flex text-center uppercase relative w-full remove-from-wishlist mb-4"
              >
                <span class="text-white">choose size/medium</span>
                <span
                  class="icon-FULL-ICON-SET-WEBSITE-FINAL_Choose-Medium-Arrow absolute top-1/2 -translate-y-1/2 right-[18px] text-white"
                ></span>
              </a>
              <button class="btn btn_primary btn_small flex text-center uppercase relative w-full remove-from-wishlist">
                <span class="text-white">remove from list</span>
                <span
                  class="icon-FULL-ICON-SET-WEBSITE-FINAL_Trash-Bin-v2 absolute top-1/2 -translate-y-1/2 right-[18px] text-white"
                ></span>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

<script>
  // Function to capitalize the first letter of each word, but leave "cm" in lowercase
  function capitalizeWords(str) {
    return str
      .split(' ')
      .map((word) => {
        if (word.toLowerCase() === 'cm') return 'cm';
        return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
      })
      .join(' ');
  }

  // Function to render the wishlist from local storage
  function renderWishlist() {
    // Get current wishlist items from localStorage
    const wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];

    // Find the wishlist container
    const wishlistContainer = document.querySelector('.wishlist__container');

    // Clear the container before rendering
    wishlistContainer.innerHTML = '';

    // Loop through the wishlist items and generate the HTML
    wishlist.forEach((item) => {
      const wishlistItem = document.createElement('li');
      wishlistItem.classList.add('wishlist__item', 'flex');

      // Capitalize optionSize and optionMaterial
      const optionSizeCapitalized = item.optionSize ? capitalizeWords(item.optionSize) : '';
      const optionMaterialCapitalized = item.optionMaterial ? capitalizeWords(item.optionMaterial) : '';

      wishlistItem.innerHTML = `
        <div class="wishlist__item-img aspect-square">
          <img
            class="w-full h-full object-cover"
            src="${item.productImage}"
            width="656"
            height="640"
          >
        </div>
        <div class="wishlist__item-data flex-1 max-lg:px-4">
          <div class="wishlist__item-data-title">
            <h2 class="text-[24px] md:text-[32px] font-semibold leading-none mb-3">${item.productTitle}</h2>
          </div>
          <div class="wishlist__item-data-vendor mb-14">
            <h3 class="leading-none text-[26px] font-helveticaThinCond italic tracking-wide font-normal">by ${
              item.productVendor
            }</h3>
          </div>
          <div class="wishlist__item-data-variant mb-[90px]">
            <h4 class="text-[24px] tracking-xwidest mb-4 font-bold leading-none">${
              item.noVariant || item.optionMaterial == 'paper print' || item.optionMaterial == 'oil print'
                ? 'Unframed'
                : item.optionMaterial === 'canvas print'
                ? 'Unmounted'
                : ''
            }</h4>

            <h4 class="text-[24px] tracking-xwidest font-bold leading-none">${
              item.noVariant ? 'NO SIZE SELECTED' : `${optionSizeCapitalized} ${optionMaterialCapitalized}`
            }</h4>
          </div>
          <div class="wishlist__item-data-buttons">
            <div class="md:max-w-[360px] mt-4">
              <div class="flex md:max-w-[360px]">
                  <div id="price-template--17986287468764__main-buy" class="max-w-[136px] max-md:hidden w-full border-2 border-black text-center flex items-center justify-center no-js-hidden" role="status">
<div class="
    price text-xl font-helveticaThinCond tracking-widest leading-none font-semibold price--large">
  <div class="price__container"><div class="price__regular"><span class="visually-hidden visually-hidden--inline">Regular price</span>
        <span class="price-item price-item--regular font-helvetica font-[900]">
          339.00 €
        </span></div>
    <div class="price__sale">
        <span class="visually-hidden visually-hidden--inline">Regular price</span>
        <span>
          <s class="price-item price-item--regular font-helvetica font-[900]">
            
              
            
          </s>
        </span><span class="visually-hidden visually-hidden--inline">Sale price</span>
      <span class="price-item price-item--sale price-item--last">
        339.00 €
      </span>
    </div>
  </div>
</div>
</div>
                  <div class="flex-1">
<div><product-form class="product-form" data-hide-errors="false" data-section-id="template--17986287468764__main">
      <div class="product-form__error-message-wrapper" role="alert" hidden="">
        <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </path></svg>
        <span class="product-form__error-message"></span>
      </div><form method="post" action="/cart/add" id="product-form-template--17986287468764__main" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="id" value="45066208772316" class="product-variant-id"><div class="product-form__buttons"><button id="ProductSubmitButton-template--17986287468764__main" type="submit" name="add" class="product-form__submit flex items-center btn btn_primary btn_small w-full relative md:flex">
            <span>Add to cart
</span>
            <span class="icon-FULL-ICON-SET-WEBSITE-FINAL_Add-to-Cart-v1 max-md:absolute max-md:top-1/2 max-md:-translate-y-1/2 max-md:right-5 text-[28px] md:ml-auto">
            </span>
          </button>
          
        </div><input type="hidden" name="product-id" value="8523584307420"><input type="hidden" name="section-id" value="template--17986287468764__main"></form></product-form><link href="//4nsgdcffl6sn62tb-69023039708.shopifypreview.com/cdn/shop/t/6/assets/component-pickup-availability.css?v=34645222959864780961709736873" rel="stylesheet" type="text/css" media="all">
<pickup-availability class="product__pickup-availabilities no-js-hidden quick-add-hidden" data-root-url="/" data-variant-id="45066208772316" data-has-only-default-variant="false" data-product-page-color-scheme="gradient ">
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" focusable="false" class="icon icon-unavailable" viewBox="0 0 20 20">
  <path fill="#DE3618" stroke="#fff" d="M13.94 3.94L10 7.878l-3.94-3.94A1.499 1.499 0 103.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 102.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 002.12 0 1.499 1.499 0 000-2.12L12.122 10l3.94-3.94a1.499 1.499 0 10-2.121-2.12z"></path>
</svg>

          <div class="pickup-availability-info">
            <p class="caption-large">Couldn't load pickup availability</p>
            <button class="pickup-availability-button link link--text underlined-link">
              Refresh
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="//4nsgdcffl6sn62tb-69023039708.shopifypreview.com/cdn/shop/t/6/assets/pickup-availability.js?v=66138958121968076331709736874" defer="defer"></script></div>
</div>
                </div>
              <a
                href="${item.productUrl}"
                class="btn btn_primary btn_small flex text-center uppercase relative w-full mb-4"
              >
                <span class="text-white">choose size/medium</span>
                <span
                  class="icon-FULL-ICON-SET-WEBSITE-FINAL_Choose-Medium-Arrow absolute top-1/2 -translate-y-1/2 right-[18px] text-white"
                ></span>
              </a>
              <button class="btn btn_primary btn_small flex text-center uppercase relative w-full remove-from-wishlist" data-id="${
                item.productId
              }" data-variant-id="${item.variantId}">
                <span class="text-white">remove from list</span>
                <span
                  class="icon-FULL-ICON-SET-WEBSITE-FINAL_Trash-Bin-v2 absolute top-1/2 -translate-y-1/2 right-[18px] text-white"
                ></span>
              </button>
            </div>
          </div>
        </div>
      `;

      wishlistContainer.appendChild(wishlistItem);
    });

    // Attach event listeners to the remove buttons
    document.querySelectorAll('.remove-from-wishlist').forEach((button) => {
      button.addEventListener('click', (event) => {
        const productId = event.currentTarget.getAttribute('data-id');
        const variantId = event.currentTarget.getAttribute('data-variant-id');
        removeFromWishlist(productId, variantId);
        renderWishlist();
      });
    });
  }

  // Call the renderWishlist function when the DOM is fully loaded
  document.addEventListener('DOMContentLoaded', () => {
    renderWishlist();
  });
</script>

{% schema %}
{
  "name": "My Favorites",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
