<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<div class="my-favorites">
  <div
    id="bar"
    class="ds_element dissapearing my-favorites__heading max-lg:pt-2 max-lg:pb-4 fixed top-[67px] lg:top-[27px] bg-gray-10 lg:bg-white max-md:duration-300 max-md:ease-in-out flex justify-center"
  >
    <h1 class="font-coutureBold text-2xl md:text-3xl uppercase text-center">My Favorites</h1>
  </div>
  <div class="my-favorites__body">
    <ul class="wishlist__list">
      <li class="wishlist__item">
        <div class="wishlist__item-img aspect-square">
          <img
            class="w-full h-full object-cover"
            src="https://cdn.shopify.com/s/files/1/0690/2303/9708/files/ANATOMY-STUDY-3-PAPER-UNFRAMED-IMAGE.jpg?v=1717860091"
            width="656"
            height="640"
          >
        </div>
        <div class="wishlist__item-data">
          <div class="wishlist__item-data-title"></div>
          <div class="wishlist__item-data-vendor"></div>
          <div class="wishlist__item-data-variant"></div>
          <div class="wishlist__item-data-buttons"></div>

          <img
            class="w-full h-full object-cover"
            src="https://cdn.shopify.com/s/files/1/0690/2303/9708/files/ANATOMY-STUDY-3-PAPER-UNFRAMED-IMAGE.jpg?v=1717860091"
            width="656"
            height="640"
          >
        </div>
      </li>
    </ul>
  </div>
</div>
{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% schema %}
{
  "name": "My Favorites",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
