<div class="plus-info max-lg:px-2.5">
  {%- if section.settings.heading != blank -%}
    <div class="plus-info__heading{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      <p class="inline-block bg-black font-open text-base md:text-[19px] leading-none max-md:py-[3px] p-1 text-white tracking-widest">
        {{ section.settings.heading }}
      </p>
    </div>
  {%- endif -%}
  {%- if section.settings.content != blank or section.settings.content_metafield != blank -%}
    <div class="plus-info__content text-[14px] md:text-lg font-open text-[#1b1b1b]{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- if section.settings.content_metafield != blank -%}
        {{ section.settings.content_metafield }}
      {%- else -%}
        {{ section.settings.content }}
      {%- endif -%}
    </div>
  {%- endif -%}
  {%- if section.settings.image != blank -%}
    <div class="plus-info__image max-w-[834px]{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          widths: '450, 660, 900, 1320, 1800',
          fetchpriority: 'auto'
      }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Product Plus Info",
  "tag": "section",
  "class": "section plus-info__section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "+ Info"
    },
    {
      "type": "richtext",
      "id": "content_metafield",
      "label": "Content from metafield"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Product Plus Info"
    }
  ]
}
{% endschema %}
