<div class="plus-info"></div>

{% schema %}
{
  "name": "Product Plus Info",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Product Plus Info"
    }
  ]
}
{% endschema %}
