{{ 'component-price.css' | asset_url | stylesheet_tag }}
<div
  class="max-md:px-1.5 lg:!hidden cs-scroll collection-grid__list-medium h-full overflow-x-hidden overflow-y-auto pb-12 bg-gray-10"
  id="product-grid-wrapper"
>
  <div class="pt-[68px]">
    <div
      id="bar"
      class="ds_element dissapearing home-page__carousel-btn-top py-2 text-center fixed max-lg:duration-300 max-lg:ease-in-out"
    >
      <span
        class="icon-FULL-ICON-SET-WEBSITE-FINAL_Dropdown-arrow !font-extrabold text-xl rotate-180 inline-block"
      ></span>
    </div>
    <div class="collection pt-[42px]">
      <ul
        id="product-grid"
        data-id="{{ section.id }}"
        class="grid collection-grid__list collection-grid__list-medium"
      >
        {%- for product in section.blocks -%}
          {% assign lazy_load = false %}
          {%- if forloop.index > 4 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}
          <li
            class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: product.settings.product,
              lazy_load: lazy_load,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>
{% if customer %}
  {%- render 'wishlist-modal' -%}
{% else %}
  {%- render 'login-modal' -%}
{% endif %}
{% schema %}
{
  "name": "Product List",
  "tag": "section",
  "class": "section section-product-list section-product-list_homepage h-screen absolute top-0 w-full left-0",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "product_item",
      "name": "Product Item",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product List",
      "blocks": [
        {
          "type": "product_item"
        },
        {
          "type": "product_item"
        },
        {
          "type": "product_item"
        }
      ]
    }
  ]
}
{% endschema %}
