<div class="max-md:px-1.5 lg:!hidden">
  <div class="collection">
    <ul
      id="product-grid"
      data-id="{{ section.id }}"
      class="grid collection-grid__list collection-grid__list-medium"
    >
      {%- for product in section.blocks -%}
        {% assign lazy_load = false %}
        {%- if forloop.index > 4 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}
        <li
          class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% render 'card-product', card_product: product, lazy_load: lazy_load, section_id: section.id %}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Product List",
  "tag": "section",
  "class": "section section-product-list",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "product_item",
      "name": "Product Item",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product List",
      "blocks": [
        {
          "type": "product_item"
        },
        {
          "type": "product_item"
        },
        {
          "type": "product_item"
        }
      ]
    }
  ]
}
{% endschema %}
