.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}


@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }
}

cart-items {
  display: block;
}

.cart__items--disabled {
  pointer-events: none;
}
