@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html{
  @apply w-full;
  @apply font-open;
  @apply tracking-wider;
  @apply max-lg:bg-gray-10;
  @apply font-helveticaThinCond;
}
body{
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #e3e3e3; 
  }
  &::-webkit-scrollbar-thumb {
    background: #191919; 
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
}
img{
  image-rendering: -moz-crisp-edges !important;
  image-rendering: -o-crisp-edges !important;
  image-rendering: -webkit-optimize-contrast !important;
  image-rendering: crisp-edges !important;
  -ms-interpolation-mode: nearest-neighbor !important;
}
.text-logo{
  span:nth-child(2){
    transform: scale(-1, 1);
    margin-left: -0.13em;
  }
}
button{
  @apply leading-none;
}

input{
  &:focus-visible{
    outline: none;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.tooltip{
  &:after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-left-width: 0;
    border-bottom-width: 0;
    position: absolute;
    top: 0;
    left: 130px;
    transform: rotate(-45deg);
    background-color: #fff;
    margin-top: -7px;
  }
}
.header__personal-menu{
  @screen lg{
    top: clamp(50px, 9.3vh, 9.3vh);
  }
}
.header__menu{
  @screen lg{
    padding-top: clamp(50px, 9.3vh, 9.3vh);
    padding-left: clamp(42px, 3.4vw, 3.4vw);
  }
}
.header__menu-content{
  @media screen and (min-height: 1100px){
    margin: 0;
    padding-top: clamp(0px, 12vh, 12vh);
  }
}
.header__menu-footer{
  @media screen and (min-height: 1100px){
    margin-top: auto;
  }
}
.header__menu-logo{
  @apply pb-10;
  @screen lg{
    padding-bottom: clamp(50px, 8.17vh, 8.17vh);
  }
}

.header__menu-wrapaper{
  &::-webkit-scrollbar {
    @apply !w-0;
    @apply !h-0;
    @apply !hidden;
  }
  
  &::-webkit-scrollbar-track {
    @apply !w-0;
    @apply !h-0;
    @apply !hidden;
  }
  
  &::-webkit-scrollbar-thumb {
    @apply !w-0;
    @apply !h-0;
    @apply !hidden;
  }
}
.header__menu-item{
  span{
    &:after{
      width: calc(100% + 16px);
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
      transform-origin:100% 50%;
    }
  }
  &:hover{
    span{
      &:after{
        transform: scaleX(1);
        transform-origin:0 50%;
      }
    }
  }
}
accordion-item.open,
.header__menu-item.open{
  .header__menu-item{
    span{
      &:after{
        transform: scaleX(1);
        transform-origin:0 50%;
      }
    }
  }
}
.menu-open{
  @apply bg-white;
}
.collection-list__card{
  height: calc(100vh / 3 - 46px);
  @screen lg{
    height: calc(100vh / 3 - 36px);
  }
}
.card-collection__title{
  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    font-size: 5cqw;
  }
}
.collection-hero{
  padding-top: clamp(25px, calc(5vh - 25px), calc(5vh - 25px));
}
.collection-product-grid{
  @apply max-lg:px-4;
  @apply max-md:px-[6px];
  .collection-hero{
    @apply max-md:px-[12px]
  }
}
#product-grid-wrapper{
  &.collection-grid__list-big{
    &.collection-product-grid{
      @apply max-md:px-0;
      .collection-hero{
        @apply max-md:px-[18px]
      }
    }
    .collection-grid__list{
      @apply xl:grid-cols-2;
      @apply grid-cols-1;
      row-gap: 70px;
      @screen md{
        column-gap: clamp(27px, 4vw, 4vw);
        row-gap: clamp(50px, 9vh, 160px);
      }
    }
  }
  &.collection-grid__list-medium{
    .collection-grid__list{
      @apply xl:grid-cols-3;
      @apply grid-cols-2;
      column-gap: 8px;
      row-gap: 70px;
      @screen md{
        column-gap: clamp(27px, 2.14vw, 2.14vw);
        row-gap: clamp(50px, 9vh, 160px);
      }
    }
  }
  &.collection-grid__list-small{
    .collection-grid__list{
      @apply xl:grid-cols-4;
      @apply grid-cols-3;
      column-gap: 8px;
      row-gap: 70px;
      @screen md{
        column-gap: clamp(27px, 1.41vw, 1.41vw);
        row-gap: clamp(50px, 9vh, 160px);
      }
    }
    .card__content{
      @apply max-lg:hidden;
    }
    .card__media{
      @apply max-lg:!mb-0;
    }
  }
  .card__media{
    margin-bottom: clamp(10px, 1.1vh, 1.1vh);
  }
}
.range{
  -webkit-appearance: none; 
  width: 100%;
  background: transparent;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply w-4;
    @apply h-4;
    @apply rounded-full;
    @apply bg-gray-700;
    @apply cursor-pointer;
    @apply -mt-[7px];
  }
  &::-moz-range-thumb {
    @apply w-4;
    @apply h-4;
    @apply rounded-full;
    @apply bg-gray-700;
    @apply cursor-pointer;
  }
  &::-ms-thumb {
    @apply w-4;
    @apply h-4;
    @apply rounded-full;
    @apply bg-gray-700;
    @apply cursor-pointer;
  }
  &::-webkit-slider-runnable-track {
    @apply w-full;
    @apply h-[1px];
    @apply cursor-pointer;
    @apply bg-gray-700;
    @apply px-2.5;
  }
  &::-moz-range-track {
    @apply w-full;
    @apply h-[1px];
    @apply cursor-pointer;
    @apply bg-gray-700;
    @apply px-2.5;
  }
  &::-ms-track {
    @apply w-full;
    @apply h-[1px];
    @apply cursor-pointer;
    background: transparent;
    border-color: transparent;
    @apply px-2.5;
    color: transparent;
  }
  &::-ms-fill-lower {
    @apply bg-gray-700;
    @apply px-2.5;
  }
  &::-ms-fill-upper {
    @apply bg-gray-700;
    @apply px-2.5;
  }
}

.filter-label{
  input{
    &:checked{
      &+.filter__item{
        .filter_checked{
          @apply opacity-100
        }
      }
    }
  }
}
.filter-modal{
  width: calc(100% + 36px);
  @apply max-md:-ml-[18px];
  @apply max-md:px-4;
}